<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- <h2>this is random number <%= Math.floor(Math.random()*10 + 1) %></h2> -->
    <h1>Your Random number is:<%= num%></h1>
    <% if(num % 2 === 0){ %>
    <h2>Even</h2>
    <% } else { %>
    <h2>Odd</h2>
    <% } %>
  </body>
</html>
